@media(max-width: 800px){
    .sectionFirst {
        display: flex;
        flex-direction: column;
        margin:auto;
        align-items: center;
    }
    .logo {
        width:8rem;
        color: #222222;
        position: relative;
        top: -9rem;
        left: 8rem;
      /* .bannerImage {
          display:none;
      } */
    }
    .bannerDocket{
        display: none;
      }
      .bannerMobile{
        display: block;
      }
      .endForm{
          display: flex;
      }
}

@media(max-width: 360px){
    /* .containerForm {
        padding: 2.5rem;
        margin: 1rem;
        position: relative;
        top:-3rem;
        width: 278px;
        height: 714px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 2px #2E2D2C66;
        border-radius: 4px;
        opacity: 1;
        
      } */

      .bannerDocket{
        display: none;
      }
      .bannerMobile{
        display: block;
      }

      .containerForm {
        padding: 2.5rem;
        margin: 1rem;
        position: relative;
        top:-2rem;
        width: 278px;
        height: 714px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 2px #2E2D2C66;
        border-radius: 4px;
        opacity: 1;
        
      }
      .logo {
        width: 4rem;
        color: #222222;
        position: relative;
        top: -8rem;
        left: 8rem;
      /* .bannerImage {
          display:none;
      } */
    }
    .endForm{
        display: flex;
    }
}

@media(max-width: 375px){
      .containerForm {
        padding: 2.5rem;
        margin: 1rem;
        position: relative;
        top:-2rem;
        width: 278px;
        height: 714px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 1px 2px #2E2D2C66;
        border-radius: 4px;
        opacity: 1;
        
      }
      .logo {
        width: 5rem;
        color: #222222;
        position: relative;
        top: -8rem;
        left: 8rem;
      /* .bannerImage {
          display:none;
      } */
      }
      .bannerDocket{
        display: none;
      }
      .bannerMobile{
        display: block;
      }
      .endForm{
        display: flex;
    }
}

@media(max-width: 479px){
    .containerForm {
      padding: 2.5rem;
      margin: 1rem;
      position: relative;
      top:-2rem;
      width: 278px;
      height: 714px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 2px #2E2D2C66;
      border-radius: 4px;
      opacity: 1;
      
    }
    .logo {
        width: 7rem;
        color: #222222;
        position: relative;
        top: -8rem;
        left: 8rem;
    }   
    .bannerDocket{
        display: none;
      }
      .bannerMobile{
        display: block;
      }
      .endForm{
        display: flex;
    }
}